<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1-ZXTEKt35j8P3UXqceSIRRsW7qTjCCk</string>
	<key>GCM_SENDER_ID</key>
	<string>117896265588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ehgsmartwellness.app</string>
	<key>PROJECT_ID</key>
	<string>ehg-wellness-smart-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ehg-wellness-smart-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117896265588:ios:823079b2313c8ab12cb621</string>
</dict>
</plist>
