#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-dev.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-stage.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-prod.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-dev.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-stage.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-prod.xcconfig"
#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.release-dev.xcconfig"
#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.release-stage.xcconfig"
#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.release-prod.xcconfig"
#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.profile.xcconfig"
#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-dev.xcconfig"
#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-stage.xcconfig"
#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-prod.xcconfig"
#include "Generated.xcconfig"

BUNDLE_ID_SUFFIX_dev = .dev
BUNDLE_ID_SUFFIX_stage = .stage
BUNDLE_ID_SUFFIX_prod = 
BUNDLE_ID_SUFFIX_ = .dev
BUNDLE_ID_SUFFIX = $(BUNDLE_ID_SUFFIX_$(FLAVOR))

APP_DISPLAY_NAME_dev = EHG Smart (Dev)
APP_DISPLAY_NAME_stage = EHG Smart (Stage)
APP_DISPLAY_NAME_prod = EHG Smart
APP_DISPLAY_NAME_ = EHG Smart (Dev)
APP_DISPLAY_NAME = $(APP_DISPLAY_NAME_$(FLAVOR))
